@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*Navigation Menu Bar*/
/* Add a background color to the top navigation */
.topnav {
  background-color: #920254;
  overflow: hidden;
  font-family: Lato;
  text-align: center;
  position: fixed;
  z-index: 10;
  top: 0;
  border-radius: 12px;
  width:98.9%;
  justify-content: center;
  float:right;
  margin-bottom:0.5rem;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 2rem 1.75rem;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(221,3,127);
  color: white;
}

/* Add a color to the active/current link */
.topnav a.homelogo {
  float: left;
  text-decoration: none;
}

.topnav a.active {
  float: left;
  text-decoration: none;
}

.topnav a.active:hover{
  background-color: rgb(221,3,127);
}

#homelogo {
  width: auto;
  height: 4rem;
  float:left;
  position: fixed;
  top: 1 rem;
  left: 2rem;
  z-index:11;
  border-radius: 50%;
}

.logo {
  margin: 0.5rem 0;
}


/*HOME BUTTON*/



/*body*/



body{
  /*background-color: rgb(20,209,198);*/
  background-color: #19dbcf;
  /*background-image: url("images/Video.gif");*/
}

h1{
  font-size: 60px;
  font-family: Lato;
  text-align: center;
  font-style: italic;
  text-shadow: 4px 4px rgb(221,3,127);
  color: white;
}

h2{
  font-family: Lato;
  font-size: 30px;
  text-align: center;
  color:#920254;
}

h3{
  text-align: center;
  color:black;
  font-family: Lato;
  margin: 20px;
}

/*Maybe fix this color later*/
p{
  font-family: 'PT Sans';
  text-align: center;
  /*color:black;*/
}

/* Start Countdown Styling */
.container-countdown {
  align-items: center;
  background-color: white;
  padding: 30px;
  border-radius: 16px; 
  color: #920254;
  margin: 0 auto;
  min-width: 400px;
  width: 80%;
  text-align: center;
}


li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 0.75em;
  /*text-transform: uppercase;*/
  font-style: italic;
}

li span {
  display: block;
  font-size: 4.5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  
  li {
    font-size: 1.125rem;
    padding: .75rem;
  }
  
  li span {
    font-size: 3.375rem;
  }
}
/* END Countdown Styling */

#home{
  font-family: Lato;
  text-align: center;
  margin: auto;
}

/*registration button*/

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: white;
    background-color: rgb(146, 2, 84);
    padding: 2% 2.5%;
    border-radius: 15px;
    margin: 1%
}

a:hover.button  {
  background-color: rgb(221,3,127);
  color: white;
  border-radius: 15px;
}

/*Unnecessary logo pic

div#logo{
  width: 400px;
  margin: 0 auto;
} /*

/*ABOUT SECTION*/
#about{
  margin: 0 5% 0;
  font-size: 30px;  
  /*padding: 1em 10vw;*/
}
ol{
  font-family: 'PT Sans';
  font-size: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  grid-gap: 2em;
  justify-items: center;
  text-align: center;
  margin: auto;
}

#about-grid {
  grid-gap: 2em 2.5em;
  overflow: scroll;
}

.about-container{
  width: 100%;
  padding: 1em;
  border-radius: 12px;
  overflow: scroll;
}

.yellow {
  background-color: white;
}

.about-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* START of Prizes Section */


.wrapper{
  margin-top: 100px;
}

.prize-section{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.prize-section .prize-category{
  background: #fff;
  margin: 5px;
  margin-bottom: 100px;
  width: 500px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
  border-radius: 16px;
}

.prize-section .prize-category h3{
  color: rgb(146, 2, 84);
  font-size: 26px;
  margin-top: 50px;
}

.prize-section .prize-category .category-ul{
  font-size: 20px;
  font-family: Lato;
  text-align: left;
  line-height: 2;
  color: black;
}


.prize-section .prize-category .cat_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.prize-section .prize-category .cat_img img{
  width: 100px;
  height: 100px;
  padding: 10px;
}

/* END of Prizes Section */


/* START OF Styling the Schedule Section Table */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

#schedule-container {
  margin-left: 2em;
  flex-grow: 1;
  flex-basis: 0;
}

#sched-date {
  border-radius: 20px 20px 0 0;
  font-family: Lato;
  color: rgb(146, 2, 84);
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.schedule-title {
  font-family: Lato;
  color: white;
}

table {
  margin: 0 auto;
  border-radius: 16px;
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0;
  width: 100%;
  max-width: 900px;
  box-shadow: 0px 5px 20px 1px #aaaaaa;
  -moz-box-shadow: 0px 5px 20px 1px #aaaaaa;
  -webkit-box-shadow: 0px 5px 20px 1px #aaaaaa;
}

th,
td {
  font-family: Lato;
  text-align: center;
  padding: 12px;
  font-size: 18px;
  line-height: 18px;
}

th {
  background-color: rgb(146, 2, 84);
}

td {
  background-color: #f2feff;
  transition: all 0.5s ease;
}

td.time {
  color: rgb(146, 2, 84);
}

th:first-child {
  border-radius: 16px 0 0 0;
}

th:last-child {
  border-radius: 0 16px 0 0;
}

tr:hover td {
  font-size: 19px;
  background-color: rgb(245, 214, 231)
}

tr:last-child td:first-child {
  border-radius: 0 0 0 16px;
}

tr:last-child td:last-child {
  border-radius: 0 0 16px 0;
}

/* Hide the table by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(146, 2, 84);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgb(221,3,127);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* END OF Styling the Schedule Section Table */

.columnPlatinum {
  float: left;
  width: 30%;
  padding: 10px;
}

/* Clearfix (clear floats) */
.rowPlatinum::after {
  content: "";
  clear: both;
  display: table;
}

.sponsor-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin: auto;
  width: 95%;
  margin-top: -20px;
}

.sponsor-profile {
  margin: 30px 0;
}

.sponsor-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*#platinum .sponsor-img {
  height: 200px;
  width: auto; 
  margin: auto;
  padding: 30px; 
}

#gold .sponsor-img {
  height: 120px;
  width: auto; 
  margin: auto;
  padding: 30px; 
}
*/
.sponsor-img {
  height: 120px;
  width: auto; 
  margin: auto;
  padding: 30px; 
}

/*END OF SPONSORS*/

/*Team*/



.team-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: auto;
  width: 95%;
  margin-top: -20px;
}

.member-profile {
  margin: 30px 0;
}

.member-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-img {
  border-radius: 50%;
  height: 170px;
  width: 170px;
  margin: auto;
  border: 5px solid rgb(146, 2, 84);
}

.member-info {
  margin: auto;
}

.member-name {
  text-align: center;
  font-size: 25px;
  padding: 20px 0 10px 0;
}

.member-role {
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
  font-style: italic;
}

/*END of Team*/

/* START of the FAQ Section */



.accordion {
  background-color: rgb(146, 2, 84);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 85%;
  margin: 0 7.4%;
  border: none;
  font-family: Lato;
  text-align: center;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
}

.q1{
  border-radius: 16px 16px 0 0;
}

.q7{
  border-radius: 0 0 16px 16px;
}

.active, .accordion:hover {
  background-color: rgb(245, 214, 231);
  color: rgb(146, 2, 84);
}

.accordion:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.q7:after{
  border-radius: 0 0 16px 16px;
}

.panel {
  padding: 0 18px;
  background-color: white;
  width: 85%;
  margin: 0 7.4%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* END of the FAQ Section */

/*CONTACT*/

#Contact{
  font-size:30px;
  font-family: Lato;
  justify-content: center;
  text-align: center;
  margin-bottom:3rem;
  
}

/*FOOTER*/

.site-footer
{
  background-color:rgb(146, 2, 84);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:white;
}
.site-footer hr
{
  border-top-color:white;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:white;
}
.site-footer a:hover
{
  color:#19DBCF;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:white;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#19DBCF;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:center
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:rgb(221,3,127);
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:white;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:white;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe;
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998;
}
.social-icons a.twitter:hover
{
  background-color:#00aced;
}

.social-icons a.instagram:hover
{
  background-color:#ea4c89;
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6;
}
.social-icons a.discord:hover
{
  background-color: orchid;
}
.social-icons a.mail:hover
{
  background-color:#4ceaea;
}
.social-icons a.linktree:hover
{
  background-color:#5eeb59;
}
.social-icons a.tiktok:hover
{
  background-color:orchid;
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


/*Source: https://codepen.io/scanfcode/pen/MEZPNd*/

